<section class="test">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="col-3 tborder">
          <aside>
            Поиск
            Цвет
            Вид
            Тип
            Отзывы
          </aside>
        </div>
      </div>
    </div>
    <div class="row m-lg-5">
      <div class="col-lg-3 col-md-6 col-sm-6 p-lg-5 tborder">
        Текст
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 p-lg-5 tborder">
        Текст
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 p-lg-5 tborder">
        Текст
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 p-lg-5 tborder">
        Текст
      </div>
    </div>
  </div>
</section>
