<section class="benefits">
  <div class="container benefits__container">
    <div class="row">
      <h2 class="title">Подключаются к устройствам <span>с волшебной лёгкостью.</span></h2>
    </div>
    <!-- slider 1 -->
    <div class="row benefits__cards">
      <div class="col-lg-4 benefits-card benefits__card tborder">
        <div class="benefits-card__content">
          <picture>
            <source srcset="img/benefits_img1.avif" type="image/avif">
            <source srcset="img/benefits_img1.webp" type="image/webp">
            <img loading="lazy" src="img/benefits_img1.png" class="benefits-card__image" alt="">
          </picture>
          <h3 class="benefits-card__title">
            Настройка одним касанием
          </h3>
          <a class="more benefits-card__more" href="">Подробнее <svg class="more__icon" width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.54046 6.25623L0.270045 0.985815L1.25586 0L7.51208 6.25623L1.25586 12.5125L0.270045 11.5266L5.54046 6.25623Z" fill=""/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-lg-4 benefits-card benefits__card tborder">
        <div class="benefits-card__content">
          <picture>
            <source srcset="img/benefits_img2.avif" type="image/avif">
            <source srcset="img/benefits_img2.webp" type="image/webp">
            <img loading="lazy" src="img/benefits_img2.png" class="benefits-card__image" alt="">
          </picture>
          <h3 class="benefits-card__title">
            Автоматическое переключение
          </h3>
          <a class="more benefits-card_more " href="">Подробнее <svg class="more__icon" width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.54046 6.25623L0.270045 0.985815L1.25586 0L7.51208 6.25623L1.25586 12.5125L0.270045 11.5266L5.54046 6.25623Z" fill=""/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-lg-4 benefits-card benefits__card tborder">
        <div class="benefits-card__content">
          <picture>
            <source srcset="img/benefits_img3.avif" type="image/avif">
            <source srcset="img/benefits_img3.webp" type="image/webp">
            <img loading="lazy" src="img/benefits_img3.png" class="benefits-card__image" alt="">
          </picture>
          <h3 class="benefits-card__title">
            Совместный доступ к аудио
          </h3>
          <a class="more benefits-card__more" href="">Подробнее <svg class="more__icon" width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.54046 6.25623L0.270045 0.985815L1.25586 0L7.51208 6.25623L1.25586 12.5125L0.270045 11.5266L5.54046 6.25623Z" fill=""/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
