<section class="products">
  <div class="container products__container">
    <div class="row products__top tborder">
      <div class="col-lg-6 col-md-3 col-sm-12 products__service tborder">
        <img src="img/apple_icon.svg" alt="Качество" class="products__icon">
        Идеальное качество продукции
      </div>
      <div class="col-lg-6 col-md-3 col-sm-12 products__service tborder">
        <img src="img/delivery_icon.svg" alt="Доставка" class="products__icon">
        Доставка по всей России
      </div>
      <div class="col-lg-6 col-md-3 col-sm-12 products__service tborder">
        <img src="img/payment_icon.svg" alt="Оплата" class="products__icon">
        Оплата при получении
      </div>
      <div class="col-lg-6 col-md-3 col-sm-12 products__service tborder">
        <img src="img/warranty_icon.svg" alt="Гарантия" class="products__icon">
        Официальная гарантия
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
        <img src="img/airPods_img.jpg" alt="AirPods">
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
        <img src="img/airPodsPro_img.jpg" alt="AirPodsPro">
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
        <img src="img/airPodsMax_img.jpg" alt="AirPodsMax">
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
        <img src="img/airPods2_img.jpg" alt="AirPods2">
      </div>
    </div>
  </div>
</section>
