<section class="products">
  <div class="container products__container">
    <div class="row ">
      <div class="col-12">
        <img src="img/airPods_img.jpg" alt="AirPods">
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
        <img src="img/airPodsPro_img.jpg" alt="AirPodsPro">
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
        <img src="img/airPodsMax_img.jpg" alt="AirPodsMax">
      </div>
    </div>
    <div class="row ">
      <div class="col-12">
        <img src="img/airPods2_img.jpg" alt="AirPods2">
      </div>
    </div>
  </div>
</section>
